.wrapper {
    padding: 1rem 2.5rem;
    border: none;
    display: block;
    border-radius: 25px;
    position: relative;
}

.start {
    background-color: #13ba3a;
    color: #fff;
    font-size: 1rem;
}

.step {
    background-color: #41c2eed6;
    color: #000;
    font-size: 1rem;
    padding: 1rem 2.5rem 0.5rem;
}