.controls {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dashboards {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

.container {
    max-width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}